@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Fuel_Service.Models.Order_Model>
@{
    ViewData["Title"] = "History";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Order #</th>
            <th scope="col">Date</th>
            <th scope="col">Gallons Requested</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.quoteid</td>
                <td>@order.orderdate</td>
                <td>@order.gallons</td>
                <td>$@order.total</td>

            </tr>
        }

    </tbody>
</table>