@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}



<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        
        <!-- Login Form -->
        <form asp-controller="Home" asp-action="Index" method="post">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In"><br>
            <a asp-controller="Home" asp-action="Register" method ="post">New user? Register</a>
        </form>
        
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>