@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form >

    <input asp-controller="Home" asp-action="Profile_Management" formmethod="post" type="submit" class="fadeIn fourth" value="Manage Profile">
    <input asp-controller="Home" asp-action="Fuel_Quote_Form" formmethod="post" type="submit" class="fadeIn fourth" value="Get Fuel Quote">
    <input asp-controller="Home" asp-action="Fuel_History" formmethod="post" type="submit" class="fadeIn fourth" value="Fuel History">
</form>
